# compiled output
/dist
node_modules/
/build

# Logs
logs

#it removes the .env files from the root directory
.env*

#it removes the .env files from the apps directory
apps/.env*


#it removes the .env files from the packages directory
packages/.env*

#it removes the .env files from the root directory
.env*
